@model IEnumerable<TheLoai>

<div class="container">
    <h3>Danh sách thể loại</h3>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên thể loại</th>
                <th>Ngày tạo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@String.Format("{0:dd/MM/yyyy}", item.DateCreated)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
