@{
    ViewData["Title"] = "DangKy";
}
@model TaiKhoanViewModel
<div class="container">
    <h3>Đăng ký</h3>
    <form method="post">
        <div class="form-group">
            <label asp-for="Username">Username: </label>
            <input asp-for="Username" type="text" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password">Password: </label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Đăng ký</button>
        @if (Model != null)
        {
            <p>Username đã nhập là: @Model.Username</p>
            <p>Password đã nhập là: @Model.Password</p>
            <!-- Xóa dòng mật khẩu vì lý do bảo mật -->
        }
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
