﻿
@{
    ViewData["Title"] = "BaiTap2";
}

<h1>Bài Tập 2</h1>
@model BaiTapKiemTra01.Models.SanPhamViewModel

<div class="container">
    <h2>Thông tin sản phẩm</h2>
    <div class="product-details">
        <p>Tên SP: @Model.TenSanPham</p>
        <p>Giá bán: @Model.GiaBan.ToString("C")</p>
        <img src="@Model.AnhMoTa" alt="Ảnh mô tả của @Model.TenSanPham" style="width:200px; height:200px;" />
    </div>
</div>