@{
    ViewBag.Title = "Thông tin cá nhân";
}

<div style="text-align: left;">
    <p><strong>Họ tên:</strong> @ViewBag.HoTen</p>
    <p><strong>MSSV:</strong> @ViewBag.MSSV</p>
</div>

<!-- Phần Footer hiển thị Họ tên và Năm bên dưới -->
<footer>
    <p style="font-size:24px">Copyright &copy;@ViewBag.HoTen - @ViewBag.Nam</p>
</footer>
